/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-img: url("../images/cover-image-light.png");
  --bg-color: #fff1f7;
  --text-color: #353430;
  --title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --outline-button-color: #353430;

  --border-color: #353430;
  --menu-button-color: #353430;
  --menu-button-outline-color: #353430;
  --rec-display: none;
}

@media (prefers-color-scheme: light) {
  :root:not(.theme-dark):not(.theme-light) {
    --bg-img: url("../images/cover-image-light.png");
    --bg-color: #fff1f7;
    --text-color: #353430;
    --title-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --outline-button-color: #353430;
    --border-color: #353430;
    --menu-button-color: #353430;
    --menu-button-outline-color: #353430;
    --rec-display: none;
  }
}
